<!DOCTYPE html>
<html>
<head>
    <title>CSV Data Viewer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1>CSV Data Viewer</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" accept=".csv" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="highDataPreference">High Data is:</label>
                <select name="highDataPreference" id="highDataPreference" class="form-control">
                    <option value="good">Good</option>
                    <option value="bad">Bad</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        
        <div id="table-container" class="mt-4"></div>
    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>


