<!DOCTYPE html>
<html>
<head>
    <title>CSV Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <h1>CSV Data</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="input_file">Input CSV File:</label>
        <!--Manually put in acceptable files-->
        <input type="file" name="file" multiple accept=".csv, application/vnd.ms-excel, 
        application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" class="form-control-file">

        <br>
        <label for="output_file">Output CSV File (e.g., output.csv):</label>
        <input type="text" name="output_file">
        <br>
        <label for="column_index">Column Index (0-based):</label>
        <input type="number" name="column_index" required>
        <br>
        <input type="radio" name="ascending" value="ascending" checked> Ascending
        <input type="radio" name="ascending" value="descending"> Descending
        <br>
        <!-- Standardization Method Dropdown -->
        <label for="standardization_method">Standardization Method:</label>
        <select name="standardization_method">
            <option value="default">Default</option>
            <option value="1-10">1-10</option>
            <option value="0-1">0-1</option>
            <option value="-1-1">-1-1</option>
            <option value="z-score">Statistical Z-scores</option>
        </select>
        <br>
        <input type="submit" name="submit_button" value="Sort">
        <input type="submit" name="submit_button" value="Standardize"> 
    </form>
    <br>
    <a href="{{ url_for('color') }}" class="btn btn-primary">Compare Good and Bad Data</a>
    <a href="{{ url_for('IO') }}" class="btn btn-primary">Inputs/Outputs</a>


    <!-- Display the sorted and standardized data if available -->
    {% if sorted_data %}
        <h2>Sorted Data</h2>
        <table>
            <tr>
                <!-- Assuming the first row contains column headers -->
                {% for header in sorted_data[0] %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in sorted_data[1:] %}
                <tr>
                    {% for cell in row %}
                        <td>{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if not standardized_data.empty %}
    <h2>Standardized Data</h2>
    <table>
        <tr>
            <!-- Assuming the first row contains column headers -->
            {% for header in standardized_data.columns %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for row in standardized_data.values %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>
